{% extends "layout.html" %}

{% block title %}
    Strength Checker
{% endblock %}

{% block main %}
    <div class="analyser-form">
        <p>Enter a password to test it's strength:</p>
        <form id="strengthAnalyser" action="/analyser" method="post">
            <input id="passwordTextbox" name="password" class="password" placeholder="Password" type="text" autofocus required>
            <button id="startCheckButton" name="startCheck" type="submit">Start</button>
            <!-- Show error message if inputted password is too long -->
            {% if error_message %}
                <p>{{ error_message }}</p>
            {% endif %}
        </form>
    </div>
    <!-- Display results of password strength check -->
    <div id="results" class="results-section">
        <h3 class="header">Strength Score:</h3>
        {% if score is not none %}
            <p id="show_score">{{ score }}/100</p>
        {% endif %}
        {% if entropy_bits %}
        <h3 class="header">Entropy Estimation:</h3>
            <p id="show_entropy">{{ entropy_bits }}</p>
        {% endif %}
        {% if possible_combinations %}
        <h3 class="header">Brute-Force Search Space:</h3>
            <p id="show_possible_combinations">{{ possible_combinations }}</p>
        {% endif %}
        {% if feedback %}
            <h3 class="header">Feedback:</h3>
            {% for i in feedback %}
                <h5 class="{{ feedback[i].level }}">- {{ feedback[i].text }}</h5>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

<!-- Brute Force Search Space refers to the estimated total possible combindations 
 a hacker may have to check to crack the inputted password-->

<!-- Import JavaScript from script.js -->
{% block scripts %}
    <script src="{{ url_for('static', filename='analyser.js') }}"></script>
{% endblock %}
