{% extends "layout.html" %}

{% block title %}
    Strength Checker
{% endblock %}

{% block main %}
    <h1 class="analyser-title">Password Strength Checker</h1>
    <p class="analyser-subtitle">Tool that analyses a password submitted by the user and displays a score out of 100 along with basic feedback based on a set of criteria designed to evaluate its strength.</p>
    <div class="analyser-main-body">
        <div class="analyser-form">
            <p>Enter a password to test its strength:</p>
            <form id="strengthAnalyser" action="/analyser" method="post">
                <input id="passwordTextbox" name="password" class="password" placeholder="Password" type="text" autofocus required>
                <button id="startCheckButton" name="startCheck" type="submit">Start</button>
                <!-- Show error message if inputted password is too long (server-side) -->
                {% if length_error %}
                    <p id="server-length-error" style="color: red;">{{ length_error }}</p>
                {% endif %}
                <!-- Show error message if inputted password is too long (client-side) -->
                <p id="client-length-error" style="color: red;" hidden>Error 400: Inputted password is too long.</p>
            </form>
            <!-- Prevent empty password -->
            {% if empty_error %}
                <p id="empty-error">{{ empty_error }}</p>  
            {% endif %}
            <p id="note" style="font-size: smaller; font-style: italic;">Note: If password fails blocklist check, it automatically fails all following checks.</p>
        </div>
        {% if score is not none %}
            <!-- Display results of password strength check -->
            <div id="results" class="analyser-results-section">
                {% if score is not none %}
                    <h2 class="header">Strength Score:</h2>
                    <p id="show_score" class="{{ level }}" style="font-size: x-large;">{{ score }}/100</p>
                {% endif %}
                {% if entropy_bits %}
                <h2 class="header">Entropy Estimation:</h2>
                    <p id="show_entropy">{{ entropy_bits }}</p>
                {% endif %}
                {% if possible_combinations %}
                <h2 class="header">Brute-Force Search Space:</h2>
                    <p id="show_possible_combinations">{{ possible_combinations }} possible combinations</p>
                {% endif %}
                {% if feedback %}
                    <h2 class="header">Feedback:</h2>
                    {% for i in feedback %}
                        <h5 class="{{ feedback[i].level }}">- {{ feedback[i].text }}</h5>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
    </div>
    <!-- Declare assumptions -->
    <div class="assumptions-section">
        <div style="font-size: small;">
            <h2 class="header">Assumptions and Limitations:</h2>
            <ul class="assumptions" style="padding-top: 10px;">
                <li>The length of the password directly determine the maximum score the password can achieve.</li>
                <li>ASCII's 32 symbols (not including space character) are used to determines which characters are counted as special characters in entropy check and composition check.</li>
                <li>For the entropy calculation, the charset range is determined from the password's inclusion of the following 4 character type pools: 10 numerics, 26 lower, 26 upper, and 32 symbols.</li>
                <li>Password de-substitution is limited to 200 variants to reduce loading times.</li>
                <li>Blocklist check uses Have I Been Pwned's password API with k-anonymity to check if the submitted password (and its de-substituted variants) is commonly used.</li>
                <li>Pattern checks are limited to three specific pattern types: sequential chars, keyboard patterns, and consecutive repeated chars (3+).</li>
            </ul>
        </div>
    </div>
{% endblock %}

<!-- NOTE: Brute Force Search Space refers to the estimated total possible combinations 
 a hacker may have to check to crack the inputted password-->

 
<!-- Import JavaScript from script.js -->
{% block scripts %}
    <script src="{{ url_for('static', filename='analyser.js') }}"></script>
{% endblock %}
