{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <h1 class="homepage-title">Password Security Toolkit</h1>
    <p class="homepage-subtitle">Made by Shay Laing for CS50x Final Project.</p>
    <div class="about-section">
        <h2 class="header">About this project:</h2>
        <p id="projectDescription1">This project is an educational toolkit containing two separate password tools. The first tool is a password strength checker that analyses a password submitted by the user and displays a score out of 100 along with basic feedback based on a set of criteria designed to evaluate its strength. Meanwhile, the second tool is an attack simulator that estimates the time (worst case and average) it would take various attack types to crack the submitted password and displays the results.</p>
        <p id="projectDescription2">The project utilises Python, HTML, CSS, JavaScript, and the Flask web application framework. The password strength test takes into account blocklist matches, minimum password length, password entropy, password composition, and instances of common patterns to determine the password's final score. The attack simulation estimates attack times for brute force attacks, dictionary attacks, brute force x dictionary hybrid attacks (a.k.a. suffix-prefix attacks), and rule-based mutation attacks.</p>
        <p id="projectDescription3">It should be noted that this project is purely for educational purposes and represents simplified versions of real-world security tools. As a result, there are multiple opportunities to improve this application in the future to make it both more accurate and more realistic.</p>
        <p style="font-weight: bold; color: #b3f7d3; margin-top: 30px;">You should only test real passwords with official tools made by trusted professionals.</p>
    </div>
{% endblock %}