{% extends "layout.html" %}

{% block title %}
    Attack Simulator
{% endblock %}

{% block main %}
    <div class="about-section">
        <h3 class="header">About:</h3>
        <p id="about">EXPLAIN WHAT THIS PAGE DOES AND CLARIFY SCOPE</p>
        <p id="note">Note - In the real world, attackers may use a combinations of multiple attack types at the same time to speed up the overall attack time. For instance, they may check the password against a wordlist before commencing a brute force attack.</p>
    </div>
    <div class="simulator-form">
        <p>Enter password to estimate attack times:</p>
    <form id="attackSimulator">
        <input id="passwordTextbox" name="password" class="password" placeholder="Password" type="text" autofocus required>
        <button id="startCheckButton" name="startCheck" type="submit">Start</button>
    </form>
        <!-- Prevent empty password -->
        {% if error %}
            <p id="error-message">{{ error }}</p>  
        {% endif %}
    </div>
    <!-- Display results of password attack simulator -->
    <div id="results" class="results-section">      <!-- DELETE: make subsection for maximum times and subsection for average times -->

    </div>
    <div class="assumptions-section">
        <h3 class="header">Assumptions:</h3>
        <p>ADD ASSUMPTIONS AFTER CLARIFYING THEM IN CODE</p>
        <p>- Assumed benchmark speed for three varying levels of computational hardware power that could be utlised by the attacker: Online Attack Scenario - one thousand guesses per second (dependent on network latency and rate limiting of service), Offline Attack Scenario (with high-end GPU) - ten billion guesses per second, and Specialised Rig Scenario (cracking arrays, botnets, GPU clusters, etc.) - one hundred trillion guesses per second.</p>
        <p>- Utilised a standard top 10,000 most common passwords list to be used in dictionary attack estimate and hybrid attack estimate.</p>
        <p></p>
    </div>
{% endblock %}
