body 
{
    background: #222; /* dark mode as default */
    color: #e0e0e0;
    font-family: monospace;
}

.navbar /* navbar element */
{
    box-sizing: border-box;
    text-align: center; /* center navbar links */
    margin: 0 auto; /* center navbar element */
    padding: 20px;
}

nav a /* navbar links */
{
    box-sizing: border-box;
    display: inline-block;
    padding: 0 20px; /* spacing between each navbar link */
    color: #b3f7d3;
    text-decoration: none; /* removes link underline */
    transition: 0.3s; /* recommended by Claude to make animation smoother */
    font-family: monospace;
    font-size: 18px;
}

nav a:hover /* hover animation for navbar links */
{
    opacity: 0.3; /* changing opacity effect when hovering over link */
}

.current_page /* highlight page user is currently on in navbar */
{
    opacity: 0.3;
} 

.analyser-form /* password textbox and button */
{
    padding-top: 30px;
    margin: 20px;
}

.results-section 
{
    padding-top: 10px;
    margin: 20px;
    font-weight: bold;
}

.results-section p
{
    padding-bottom: 50px;
}

button
{
    color: #222;
    background: #b3f7d3;
    border-color: #222;
    padding: 2px 20px;
    margin: 5px;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
}

button:hover /* hover animation for buttons */
{
    opacity: 0.7; /* changing opacity effect when hovering over button */
}

.password /* password text box */
{
    color: #b3f7d3;
    background-color: #222;
    font-family: monospace;
}
